<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utility.Reporting"/>
    </listeners>
    <parameter name="browser" value="chrome"/>

    <test thread-count="5" name="Test">
        <classes>
            <class name="testCases.RegisterTest">
                <methods>
<!--                    <include name="TC_RegisterMan_001"/>-->
<!--                    <include name="TC_RegisterAll_002"/>-->
<!--                    <include name="TC_RegisterNull_003"/>-->
<!--                    <include name="TC_RegisterNewsLetterEnabled_004"/>-->
<!--                    <include name="TC_RegisterNewsLetterDisabled_005"/>-->
<!--                    <include name="TC_RegisterViaLoginLink_006"/>-->
<!--                    <include name="TC_RegisterWithExistMail_008"/>-->
                    <include name="TC_RegisterWithInvalidMail_008"/>

                </methods>
            </class>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->